:root{
    --primaryRed: #9B0038;
    --hoverRed: #630528;
    --gold: #ECD308;
}



body {
    background-image: radial-gradient(var(--hoverRed), var(--primaryRed));
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.beginning {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
}

.logo {
    width: 300px; 
    height: auto; 
    opacity: 0; 
    animation: fadeInLogo 1s forwards; 
}

.search-bar {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 0; 
    animation: fadeInSearchBar 1s forwards; 
    animation-delay: 1s;
}

.Menu {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 20px 0;
    opacity: 0;
    animation: fadeInMenu 1s forwards;
    animation-delay: 2s;
}

.Menu_Items {
    cursor: pointer;
    padding: 15px 30px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: inherit; 
    background-color: var(--primaryRed);
    border: none;
    border-radius: 5px; 
    color: var(--gold);
}

.Menu_Items:hover {
    background-color: var(--gold);
    color: var(--primaryRed) ;
}

@keyframes fadeInLogo {
    from {
        transform: translateY(-50px);
        opacity: 0; 
    }
    to {
        transform: translateY(0);
        opacity: 1; 
    }
}

@keyframes fadeInSearchBar {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInMenu {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
