:root{
    --primaryRed: #9B0038;
    --hoverRed: #630528;
    --gold: #ECD308;
    --new: #94D571;
    --open: #F89A9B;
    --pending: #94C0D5;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}


body {
    background-color: #e7e3e3;
    color: #cccccc;
    overflow: auto;
    animation: fadeIn 1s forwards;
    margin-bottom: 2%;
}
::-webkit-scrollbar {
    display: none;
}
header { 
    border-bottom: 2px solid ;
    box-shadow: 4px 25px 65px -50px rgba(0,0,0,0.21);
    -webkit-box-shadow: 4px 25px 65px -50px rgba(0,0,0,0.21);
    -moz-box-shadow: 4px 25px 65px -50px rgba(0,0,0,0.21);
    padding: 2% 5% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-icons {
    display: flex;
    align-items: center;
}

.notification-icon {
    position: relative;
    margin-right: 50%;
}
.notification-icon:hover{
    cursor:pointer;
}

.notification-icon img {
    width: 50px; 
    height: 50px;
    margin-right: 50%;

}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #dc3545;
    color: #fff; 
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
}


.user-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 50%;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    background-color: var(--primaryRed);
    color: var(--gold);
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px ;
    margin-left: 5%;
    margin-right: 5%;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left span {
    margin-right: 10px;
}

.search-bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.navbar-right {
    display: flex;
}

.scroll-btn {
    padding: 5px 10px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.scroll-btn:hover {
    background-color: #ccc;
}

.ticket-table{
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
}

.ticket-details {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: var(--hoverRed);
    color: var(--gold);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    margin-top: 10px;

}


.ticket-details span {
    padding: 5px;
    border-right: 1px solid #ccc;
}



.ticket1, .ticket2, .ticket3,.ticket4, .ticket5, .ticket6,.ticket7, .ticket8, .ticket9, .ticket10 {
    background-color: white;
    display: grid;
    grid-template-columns: auto repeat(7, 1fr);
    align-items: center;
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 10px;
    margin-top: 2%;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.ticket1:hover, .ticket2:hover, .ticket3:hover,.ticket4:hover, .ticket5:hover, .ticket6:hover,.ticket7:hover, .ticket8:hover, .ticket9:hover,
.ticket10:hover{
    background-color: #ddd;
    cursor:pointer;
}

.status {
    display: flex;
    align-items: center;
    width: 75px;
}

.statuss{
    margin-top: 4%;
}

.status-color1 {
    width: 30px;
    height: 50px;
    background-color: var(--new);
    border-radius: 3px ;
}
.status-color2 {
    width: 30px;
    height: 50px;
    background-color: var(--pending);
    border-radius: 3px ;
}
.status-color3 {
    width: 30px;
    height: 50px;
    background-color: var(--open);
    border-radius: 3px ;
}

.ticket-number,
.subject,
.created-date,
.requester,
.customer,
.assignee,
.updated-date {
    padding: 5px;
    width: 100%;
}













@keyframes fadeIn {
    from {
        transform: translateY(-50px);
        opacity: 0; 
    }
    to {
        transform: translateY(0);
        opacity: 1; 
    }
}